<%-include('../base/headerO')-%>
<div class="container-fluid px-4">
    <h1 class="mt-4"><%= title%></h1>
    <div class="card mb-4">
        <div class="card-body">
            <p>Esta pagina es para el Operador</p>
        </div>
    </div>
</div>
<%-include('../base/footer')-%>