<%-include('./base/header')-%>

<h2>Bienvenido a la administración de los usuarios</h2>
<h4>A continuación se le presentan las acciones que puede realizar</h4>
<a class="nav-link" href="/usuarios-index" style="color:rgb(22, 145, 22);">Ver todos los Usuarios</a>

<%-include('./base/footer')-%>

