<%-include('./base/header')-%>
<div class="container-fluid px-4">
    <h1 class="mt-4"><%= title%></h1>
    <div class="card mb-4">
        <div class="card-body">
            <p>Esta pagina es para los Admin</p>
            <form action="">
                <input type="hidden" id="userLog" name="userLog" value="<%= user %>">
            </form>
        </div>
    </div>
</div>
<%-include('./base/footer')-%>