<%-include('./base/header')-%>

    <form action="/" method="post">
        <label>Nombre</label>
        <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" >
    </form>

<%-include('./base/footer')-%>